body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}
/*-----------------------Header Section CSS------------------------------*/
#headsec {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("img/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.head-img {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-45%, -50%);
}
.head-img img {
  width: 200px;
  border-radius: 50%;
  border: 1px solid #6caed5;
}
.head-img h1 {
  color: #fff;
  font-weight: bold;
}

.head-img p {
  color: #fff;
}
.scroll-btn {
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 30%;
  border: 1px solid #fff;
  padding: 10px 10px 20px;
}
.scroll-down span {
  border-radius: 30%;
  border: 1px solid #fff;
}
.scroll-down {
  animation: 1s scrollup infinite alternate;
}
@keyframes scrollup {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(10px);
  }
}
/*-----------------------Navbar CSS------------------------------*/
.navbar1 {
  top: 0px;
  position: sticky;
  z-index: 2;
}
.navbar {
  background-color: black;
}
.text_color {
  color: #fff;
}
.text_color:hover {
  color: #777;
  outline: none;
}
/*-----------------------About Section CSS------------------------------*/
.profile-img {
  width: 250px;
  border-radius: 50%;
  border: 1px solid #6caed5;
}
.about {
  padding-top: 100px;
  margin-bottom: -130px;
}
.navbar1 .fa-bars {
  color: #fff;
  font-size: 35px;
}
.navbar-toggler {
  outline: none !important;
}
.navbar-nav {
  text-align: right;
  float: right;
}
/*-----------------------Progress Bar CSS------------------------------*/
.progress {
  border-radius: 16px !important;
  margin-bottom: 10px;
}
.progress .progress-bar {
  background: #000;
}

/* -------------------------Project CSS------------------------------ */
.projects {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f9f9f9;
  left: 40px;
  right: -200px;
}
.main-div {
  margin-right: 20px;
}

/*-----------------------Experience CSS------------------------------*/
.resume-exp {
  margin-top: -50px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f9f9f9;
}
.resume-exp h3 {
  margin-bottom: 30px;
  margin-top: 10px;
}
.timeline {
  list-style-type: none;
  position: relative;
  width: 100%;
}
.timeline:before {
  content: "";
  position: absolute;
  background: #555;
  left: 29px;
  height: 100%;
  width: 2px;
  z-index: 1;
  display: inline-block;
}
.timeline li {
  background: #fff;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.timeline h4 {
  background: #000;
  color: #fff;
  padding: 10px 2px 10px 10px;
  font-size: 15px;
  width: 390px;
}
.timeline li:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  left: 20px;
  height: 20px;
  width: 20px;
  display: inline-block;
  border: 3px solid #000;
  z-index: 1;
  background: #fff;
}
.services {
  padding-top: 10px;
  padding-bottom: 20px;
}
.services h3 {
  margin-bottom: 10px;
}
.search-box {
  padding: 10px;
  margin-top: 20px;
  background: #f9f9f9;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}
.search-box .fa {
  font-size: 20px;
  margin-right: 10px;
}
.search-box span {
  font-size: 20px;
  font-weight: bold;
  margin: 3px;
}
.search-box p {
  font-size: 15px;
  color: #777;
  margin-top: 10px;
}
.search-box:hover {
  background: #000;
  color: #fff;
  border-bottom-left-radius: 0%;
  border-top-right-radius: 0%;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.search-box:hover p {
  color: #fff;
}
.contact {
  padding-top: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("img/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
.contact .row {
  padding: 36px 0px;
  font-size: 15px;
}
.contact .col-md-4 .fa {
  padding: 10px 10px;
  font-size: 40px;
}
.contact .btn {
  padding: 10px 25px 10px 25px;
  border-radius: 30px;
  border: 2px solid #fff;
  background: transparent;
  margin: 15px;
}
.contact .btn:focus {
  box-shadow: none !important;
}
.contact .btn:hover {
  border: 2px solid #000 !important;
  background: #000 !important;
  transition: 0.6s;
}
.contact .btn .fa {
  margin: 5px;
}
.footer {
  background: #000;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 3px;
  height: 30px;
}
.social-icons {
  top: 50%;
  transform: translateY(-50%);
  position: sticky;
}
.social-icons ul {
  padding: initial;
}
.social-icons ul li {
  list-style-type: none;
  width: 40px;
  height: 30px;
  padding-top: 5px;
  padding-left: 10px;
  margin-top: 10px;
  color: #fff;
  background: #000;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.social-icons ul li:hover {
  padding-left: 30px;
  width: 80px;
  transition: 1s;
}

#user-info {
  width: 100%;
  overflow-x: hidden;
}
